force-app/main/default/flows/Email_Validator_for_Pardot_Manual_Validation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Validate_Email</name>
        <label>Validate Email</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>EmailValidatorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Validation_Executed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Validation_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>EmailToCheck.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>service</name>
            <value>
                <elementReference>Email_Validation_Service</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <description>Used for manual testing the External Actions or to retry a callout from the Email Validator Logs</description>
    <dynamicChoiceSets>
        <description>List of Email Validation Services implemented</description>
        <name>ExternalValidationServices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceName__c</picklistField>
        <picklistObject>EmailValidatorLog__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PardotBusinessUnits</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeleteOn</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PardotTenant</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Email Validator for Pardot - Manual Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Validator for Pardot - Manual Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Email</targetReference>
        </connector>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Ready to go?&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As a next step, if you continue, we will ask the &lt;strong&gt;{!Email_Validation_Service}&lt;/strong&gt; service to check &lt;strong&gt;{!EmailToCheck.value}&lt;/strong&gt; and log the results as an External Activity in Pardot&apos;s Business Unit &quot;&lt;strong&gt;{!Business_Unit}&lt;/strong&gt;&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Validation_Error</name>
        <label>Email Validation - Error</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errors</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;u&gt;Unhandled Exception&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Validation_Executed</name>
        <label>Email Validation Executed</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CalloutResult</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Email Validation Callout Success &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;(true if we got a valid answer from the external validation service)&lt;strong&gt;:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Validate_Email.success}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Result Message:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Validate_Email.resultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Validator_Manual_Service_Request</name>
        <label>Email Validator - Manual Service Request</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Instructions&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please provide the information below to manually trigger an Email Validation.&lt;/p&gt;&lt;p&gt;&lt;em&gt;In case of Retry from an Email Validation Log record, the fields are automatically populated from the log information.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputData</name>
            <fieldText>Input Data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InputData_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Validation_Service</name>
                    <choiceReferences>ExternalValidationServices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>input_record.ServiceName__c</elementReference>
                    </defaultValue>
                    <fieldText>Email Validation Service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select an active Email Validation Service&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputData_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Unit</name>
                    <choiceReferences>PardotBusinessUnits</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>input_record.BusinessUnitId__c</elementReference>
                    </defaultValue>
                    <fieldText>Business Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select the Pardot Business Unit where we&apos;ll log the validation activity&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputData_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailToCheck</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address to validate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>input_record.Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;Use this Flow to manually test a callout to an Email Validation service or as a Retry mechanism in case of failed callouts reported in the Email Validation Logs&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Validator_Manual_Service_Request</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailValidatorLog__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
